<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Product Form</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#productWear").click(function() {
			$("#productType").empty();
			$.ajax({
				type : "GET",
				url : "/products/wears/" + $("#productWear").val()	,
				success : function(data) {
					var length = Object.keys(data).length;
					var i;
					for(i=0;i<length;i++){
						var newOption = $('<option value="'+data[i]+'">' +data[i] + '</option>');
						$('#productType').append(newOption);
						}
					}
			});
		});
	});
</script>
</head>
<body>
	<div th:include="Header.html"></div>
	<div class="container">
		<h2>Edit Product</h2>
		<!-- <h2 th:object="${product}">
			<span th:text="${product}"></span>
		</h2> -->
		<div>
			<form id="form" class="form-horizontal" th:object="${product}"
				th:action="@{/products/{id}(id=${product.productId})}" method="post"
				enctype="multipart/form-data">
				<div class="form-group">
					<label class="col-sm-2 control-label">Product Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{productName}" 
							th:value="${product.productName}" required="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Product Price:</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" th:field="*{productPrice}" 
							th:value="${product.productPrice}" required="true"/>
					</div>
				</div>
				<label>Select Gender:</label>
				<ul>
					<li th:each="gender:${genders}"><input type="radio"
						th:field="*{productGender}" th:value="${gender}" required="true"/> <label
						th:for="${#ids.prev('productGender')}" th:text="${gender}"></label>
					</li>
				</ul>

				<label>Type of Wear:&nbsp;</label> <select id="productWear" th:field="*{productWear}">
					<option th:value="Topwear" th:text="Topwear"></option>
					<option th:value="Bottomwear" th:text="Bottomwear"></option>
					<option th:value="Footwear" th:text="Footwear"></option>
				</select> <br> <label>Product Type: &nbsp;</label> <select id="productType2"
					th:field="*{productType}" th:value="${product.productType}" required="true">
				</select> <br>

				<div class="form-group">
					<label class="col-sm-2 control-label">Product Color:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{productColor}" 
							th:value="${product.productColor}" required="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Product Brand:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{productBrand}" 
							th:value="${product.productBrand}" required="true" />
					</div>
				</div>

				<label for="file">Select a file to upload</label> <input type="file"
					name="file" id="file" th:field="*{image}" th:value="${product.image}" required="true"/> <br> <br>
				<div>
					<button type="submit" class="btn btn-dark">Submit</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>