<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Products</title>
</head>
<body>
	<div th:include="Header.html"></div>
	<div class="container">
		<div th:if="${not #lists.isEmpty(products)}">
			<h2>Product List</h2>
			<br> <a th:href="@{/add}"> Create New Product </a>
			&nbsp;&nbsp;&nbsp;&nbsp; <a th:href="@{/sort}"> Sort Products </a>
			<br> <br>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Price</th>
					<th>Color</th>
					<th>Brand</th>
					<th>Gender</th>
					<th>Wear</th>
					<th>Type</th>
					<th>Image</th>
				</tr>
				<tr th:each="product:${products}">
					<td th:text="${product.productId}"></td>
					<td th:text="${product.productName}"></td>
					<td th:text="${product.productPrice}"></td>
					<td th:text="${product.productColor}"></td>
					<td th:text="${product.productBrand}"></td>
					<td th:text="${product.productGender}"></td>
					<td th:text="${product.productWear}"></td>
					<td th:text="${product.productType}"></td>
					<td><img width="100" height="100"
						th:src="@{/products/{id}/getImage(id=${product.productId})}"></td>
					<td>
						<form th:action="@{/products/{id}(id=${product.productId})}"
							th:method="GET">
							<button class="btn btn-dark" type="submit">Edit</button>
						</form>
					</td>
					<td>
						<form th:action="@{/products/{id}(id=${product.productId})}"
							th:method="delete">
							<button class="btn btn-dark" type="submit">Delete</button>
						</form>
					</td>
			</table>
		</div>
	</div>
</body>
</html>