<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Single Product</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<h2>Product</h2>
		<!-- <p th:text="${product}">Test</p> -->
		<div>
			Id : <span th:text="${product.productId}"></span>
		</div>
		<div>
			Name : <span th:text="${product.productName}"></span>
		</div>
		<div>
			Price : <span th:text="${product.productPrice}"></span>
		</div>
		<div>
			Color : <span th:text="${product.productColor}"></span>
		</div>
		<div>
			Brand : <span th:text="${product.productBrand}"></span>
		</div>
		<div>
			Gender : <span th:text="${product.productGender}"></span>
		</div>
		<div>
			Wear : <span th:text="${product.productWear}"></span>
		</div>
		<div>
			Type : <span th:text="${product.productType}"></span>
		</div>
		<img width="100" height="100"
			th:src="@{/products/{id}/getImage(id=${product.productId})}">
	</div>
</body>
</html>