<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sort Product</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(
			function() {
				$("#submitButtonColor").click(
						function() {
							document.location.href = "/products/color/"
									+ $("#dropOperatorColor").val();
						});
				$("#submitButtonGender").click(
						function() {
							document.location.href = "/products/gender/"
									+ $("#dropOperatorGender").val();
						});
				$("#submitButtonWear").click(
						function() {
							document.location.href = "/products/wear/"
									+ $("#dropOperatorWear").val();
						});
			});
</script>
</head>
<body>
	<div th:include="Header.html"></div>
	<!-- <p th:text="${colors}" th:field="colo"></p> -->
	<div class="container">
		<p>Sort By Color:</p>
		<div style="width: 200px;">
			<select class="form-control" id="dropOperatorColor" name="color">
				<option th:each="color:${colors}" th:value="${color}"
					th:text="${color}"></option>
			</select>
		</div>
		<br>
		<button id="submitButtonColor" class="btn btn-dark">Submit</button>
		<br> <br>

		<p>Sort By Gender:</p>
		<div style="width: 200px;">
			<select class="form-control" id="dropOperatorGender" name="color">
				<option th:each="gender:${genders}" th:value="${gender}"
					th:text="${gender}"></option>
			</select>
		</div>
		<br>
		<button id="submitButtonGender" class="btn btn-dark">Submit</button>
		<br> <br>
		
		
		<p>Sort By Wear:</p>
		<div style="width: 200px;">
			<select class="form-control" id="dropOperatorWear" name="color">
				<option th:each="wear:${wears}" th:value="${wear}"
					th:text="${wear}"></option>
			</select>
		</div>
		<br>
		<button id="submitButtonWear" class="btn btn-dark">Submit</button>
		<br> <br>

	</div>
</body>
</html>